# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/Manufacturing/appsetting.json
/Manufacturing/appsetting.json
/Manufacturing/obj
/Manufacturing/bin
appsettings.json
/apps
BIS.docx
HPP.xlsx
~$HPP.xlsx
/hpp_mockup