@{
    ViewData["Title"] = "Monthly Sales";
    Layout = "~/Views/Shared/Material/_Layouts.cshtml";
}
@section Styles{
    <link rel="stylesheet" href="~/sources/vendors/bootgrid/jquery.bootgrid.min.css" />
}

<section id="content">
    <div class="container">
        <div class="c-header">
            <h1>@ViewData["Title"] - @ViewBag.Category</h1>
        </div>
        <div class="card">
            <div class="card-header">
                <h2>List of Transaction</h2>
            </div>
            <div class="table-responsive">
                <table id="tableSales" class="table table-valign-middle table-bordered table-hover" style="table-layout:fixed; width:100%">
                    <thead>
                        <tr>
                            <th data-column-id="documentDate">Date</th>
                            <th data-column-id="soNumber">SO Number</th>
                            <th data-column-id="documentNo">Document No</th>
                            <th data-column-id="salesPerson">Sales Person</th>
                            <th data-column-id="billtoName">Customers</th>
                            <th data-column-id="category">Product</th>
                            <th data-column-id="qty">Qty</th>
                            <th data-column-id="liters" data-formatter="liters">Liter</th>
                            <th data-column-id="cost" data-formatter="cost">Cost</th>
                            <th data-column-id="amount" data-formatter="amount">Amount</th>
                            <th data-column-id="discount" data-formatter="discount">Discount</th>
                            <th data-column-id="tax" data-formatter="tax">Tax</th>
                            <th data-column-id="amountIncdTax" data-formatter="amountIncdTax">Amount Incd Tax</th>
                            <th data-column-id="landedCost" data-formatter="landedCost">Landed Cost</th>
                            <th data-column-id="revenue" data-formatter="revenue">Revenue</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/sources/vendors/bootgrid/jquery.bootgrid.updated.min.js"></script>
    <script type="text/javascript" src="~/sources/vendors/bowercomponents/moment/min/moment.min.js"></script>
    <script src="~/backend/SalesActual/BIPMonthlyForm.js"></script>
}