@model Manufacturing.Models.Hpp.ModelMasterVM
@{
    ViewData["Title"] = "Formula";
    Layout = "~/Views/Shared/Material/_Layouts.cshtml";
}
@section Styles{
    <link rel="stylesheet" href="~/sources/vendors/bootgrid/jquery.bootgrid.min.css" />
}

<section id="content">
    <div class="container">
        <div class="c-header">
            <h2 class="text-capitalize">@ViewData["Title"]</h2>
        </div>
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Calculate Formula</h2>
            </div>
            <div class="card-body card-padding">
                <div class="row">
                    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="form-group">
                            <label class="fg-label">Model ID</label>
                            <div class="form-inline">
                                <input type="text" class="form-control" id="ModelId" name="ModelId" style="width:80%" readonly required />
                                <button type="button" class="btn btn-primary" onclick="LookUp()" style="width:15%">Select Model</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-12 col-md-4 col-lg-2 col-xl-2 col-md-offset-8 col-lg-offset-10 col-xl-offset-10">
                        <button type="button" class="btn btn-primary form-control" id="btnNext">Add New Mixing</button>
                    </div>

                    <!--Modal-->
                    <div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title"></h4>
                                </div>
                                <div class="modal-body">
                                    <div class="table-responsive">
                                        <table id="tableLookup" class="table table-condensed table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th data-column-id="Action" data-formatter="commands" data-sortable="false">Select</th>
                                                    <th data-column-id="ModelId">Model Id</th>
                                                    <th data-column-id="ModelName">Model Name</th>
                                                    <th data-column-id="Product">Product</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.ListMaster)
                                                {
                                                    <tr>
                                                        <td></td>
                                                        <td>@item.masterModel.ModelId</td>
                                                        <td>@item.masterModel.ModelName</td>
                                                        <td>@item.itemTable.Description</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-hide">
            <div class="card-body card-padding">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table id="tableList" class="table table-condensed table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th data-column-id="Id" data-visible="false">Id</th>
                                        <th data-column-id="ModelId">Model Id</th>
                                        <th data-column-id="Description">Description</th>
                                        <th data-column-id="ProcessSize">Process Size</th>
                                        <th data-column-id="command" data-formatter="command" data-sortable="false">Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script type="text/javascript" src="~/sources/vendors/bootgrid/jquery.bootgrid.updated.min.js"></script>
    <script type="text/javascript" src="~/backend/HPP/formulaForm.js"></script>
}