@model Manufacturing.Models.Hpp.ModelMasterVM
@{
    ViewData["Title"] = "Pra Mixing";
    Layout = "~/Views/Shared/Material/_Layouts.cshtml";
}
@section Styles{
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/app.css" />
}

<section id="content">
    <div class="container">
        <div class="c-header">
            <h2 class="text-capitalize">@ViewData["Title"]</h2>
        </div>
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Calculate Process</h2>
            </div>
            <div class="card-body card-padding">
                <div class="row">
                    <div class="col-12">
                        <form id="form-Input">
                            <fieldset id="submitForm">
                                <input type="hidden" id="WIPHeaderId" />
                                <div class="form-group fg-float">
                                    <div class="fg-line">
                                        <input type="text" class="form-control" id="Description" name="Description" required />
                                        <label class="fg-label">Process Description<span class="text-danger">*</span></label>
                                    </div>
                                </div>
                                <div class="form-group fg-float">
                                    <div class="fg-line">
                                        <input type="text" class="form-control" id="ItemOutput" name="ItemOutput" required />
                                        <label class="fg-label">Item Output Name<span class="text-danger">*</span></label>
                                    </div>
                                </div>
                                <div class="form-group fg-float">
                                    <div class="fg-line">
                                        <input type="number" class="form-control" id="QtyOutput" name="QtyOutput" required />
                                        <label class="fg-label">Qty Output<span class="text-danger">*</span></label>
                                    </div>
                                </div>
                                <div class="form-group fg-float">
                                    <p class="f-500 c-black m-b-15">Qty Output Unit<span class="text-danger">*</span></p>
                                    <div class="fg-line">
                                        <select asp-items="@ViewBag.Unit" class="js-example-basic-single" name="QtyOutputUnit" id="QtyOutputUnit" style="width:100%">
                                            <option value="">Choose One</option>
                                        </select>
                                        <label id="error-select" class="text-danger"></label>
                                    </div>
                                </div>
                            </fieldset>
                        </form>                        
                    </div>

                    <div class="col-lg-2 col-xl-2 col-md-2 col-sm-12 xol-xs-12 col-lg-offset-10 col-xl-offset-10 col-md-offset-10">
                        <button type="button" class="btn btn-success" id="save-header" style="width:100%">Save Header</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script type="text/javascript" src="~/plugins/jquery-validation/jquery.validate.js"></script>
    <script type="text/javascript" src="~/plugins/jquery-validation/localization/messages_id.js"></script>
    <script type="text/javascript" src="~/backend/HPP/praMixingForm.js"></script>
}