<div style="height:@ViewBag.DHeight;" class="dropify-wrapper">
    <div class="dropify-message">
        <span><i class="zmdi zmdi-plus-circle"></i></span>
        <p>Click here to Select Dashboard Element</p>
    </div>
    <input type="button" id="input-file-now" class="dropify">
</div>